

/* --- STYLES FOR ALL PAGES --- */ 
body {   
  /* Typography */   
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-family: 'Roboto Condensed', sans-serif; 
  color: #1d2618;
  color: #212c1b;    
  /* Visual */   
  background-image: url("../images/palm.jpg"); 
}

html {   
  /* Positioning */   
  position: relative;   
  /* Box-model */   
  min-height: 100%; 
} 

/* add space for fixed nav */ 

main {   
  margin: 80px 0; 
} 
/* create styles for use for all white main boxes */ 

.block {   
  background-color: #eeb6cfc4;   
  padding: 30px;   
  margin-bottom: 30px; 
} 

.block-header {   
  /* Typography */   
  color: #3b512b; 
  font-family: Georgia, Times, "Times New Roman", serif; 
  font-family: 'Roboto Condensed', sans-serif;  
  font-weight: bold; 
} 
/* NAV START */ 
#logo {   
  font-family: Georgia, Times, "Times New Roman", serif; 
  font-family: 'Roboto Condensed', sans-serif;
  /* Typography */   
  font-size: 24px;   
  font-weight: bold;   
  color: #3b512b;   
  /* Visual */   
  /* background: #4aaaa5;  */
  /* height: 60px;
  margin-left: 70px;
  padding-top: 20px;
  padding-bottom: 5px; */
} 

/* override bootstrap hover color and border */ 
.navbar-right-custom {
  padding-top: 6px;
  padding-right: 20px;
  font-family: Georgia, Times, "Times New Roman", serif; 
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

a.nav-link {
  color: #3b512b;
}
.navbar-nav > li > a:hover {   
  color: #3b512ba8; 
} 

.navbar {   
  background: #eeb6cf;   
  border: none; 
} 

button.navbar-toggler {
  background-color: #3b512be3; 
}

/* media query for nav background color change */ 

@media only screen and (max-width: 767px) {   
  .navbar-header {     
    background-color: #7b996c;   
  } 
} 
  /* END NAV */ 
  
  /* CONNECT W/ ME CSS */ 
  .connect-header {   
    /* Typography */   
    font-size: 25px; 
  } 

  .connect-photo {   
    /* Box-model */   
    width: 55px;   
    height: 55px; 
  } 

  #images {   
    /* Box-model */   
    padding-top: 15px;   
    /* Typography */   
    text-align: center; 
  } 
  /* END CONNECT W/ ME */ 
  
  /* BEGIN FOOTER */ 
  .footer {   
    /* Positioning */   
    position: absolute;   
    bottom: 0;   
    /* Box-model */   
    width: 100%;   
    height: 60px;   
    /* Visual */   
    background-color: #eeb6cf; 
  } 

  .text-muted-footer {   
    /* Box-model */   
    margin-top: 15px;   
    /* Typography */   
    color: #fff; 
  } 

  .two-toned-footer-color {   
    /* Box-model */   
    height: 6px;   
    padding-top: 3px;   
    /* Visual */   
    background-color: #212c1b; 
  } 

  /* END FOOTER */ 
  /* --- END STYLES FOR ALL PAGES --- */ 

  /* --- PAGE-SPECIFIC STYLES --- */ 
  /* ABOUT-ME PAGE */ 
  /* .about-me-header {   
  margin-bottom: 33px;   
  font-family: Georgia, Times, "Times New Roman", serif; 
  font-family: 'Roboto Condensed', sans-serif;    
  font-size: 32px;   
  font-weight: bold;   
  color: #4aaaa5; 
}  */

  #about-image {   
    /* Positioning */   
    float: left;   
    /* Box-model */   
    width: 200px;   
    margin: 0 20px 10px 0; 
  } 
  /* END ABOUT-ME PAGE */ 
  
  /* PORTFOLIO PAGE */ 
  .port-image {   
    margin: 20px auto; 
  } 

  .card-body {
    opacity: .8;
  }

  /* END PORTFOLIO PAGE */ 
  /* CONTACT FORM PAGE  */ 
  a.contact-link{
    font-size: 20px;
    color: #3b512b
  }

  .form-control {   
    /* give input boxes right angles */   
    border-radius: 0;   
    /* keep from horizontally resizing text area */   
    min-width: 100%;   
    max-width: 100%; 
  } 

  .submit-btn {   
    /* Box-model */   
    padding: 15px 30px;   
    font-size: 16px;   
    font-weight: lighter; 
    margin-left: 15px;   
    /* Typography */   
    color: #fff;  
    /* Visual */   
    background-color: #3b512b;   
    border: 0; 
  } 

  .submit-btn:hover {   
    opacity: .7; 
  } 
  
  /* END CONTACT FORM PAGE */

